<a href="https://colab.research.google.com/github/EricVPereira/Dados-Saresp-2021/blob/main/DadosSaresp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Inep: Microdados de Alunos - SARESP - 2021

O Sistema de Avaliação de Rendimento Escolar do Estado de São Paulo (SARESP) é uma avaliação anual aplicada pela Secretaria da Educação do Estado de São Paulo com a finalidade de diagnosticar e acompanhar a evolução da educação básica paulista.
Os microdados de alunos do SARESP - 2021 apresentam os resultados das avaliações para cada aluno no ano de 2021. Acesse o Dicionário de microdados de alunos SARESP para a descrição dos campos do banco de dados.

In [ ]:
import pandas as pd
import matplotlib

In [ ]:
#Importação dataset
microdadosSaresp = pd.read_csv("/content/MICRODADOS_SARESP_2021.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
microdadosSaresp.head()

,CD_ALUNO,NOMEDEP,NomeDepBol,RegiaoMetropolitana,CDREDE,DE,CODMUN,MUN,CODESC,TIPOCLASSE,...,profic_lp,profic_mat,profic_cie,nivel_profic_lp,nivel_profic_mat,nivel_profic_cie,classific_lp,classific_mat,classific_cie,validade
0,17405108,ESTADUAL - SE,Rede Estadual,Região Metropolitana de Sorocaba,20306,ITU,219,BOITUVA,16697,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,17703159,ESTADUAL - SE,Rede Estadual,Região Metropolitana da Baixada Santista,20102,SANTOS,283,CUBATAO,11685,26,...,280.4,248.6,176.2,Básico,Abaixo do Básico,Abaixo do Básico,Suficiente,Insuficiente,Insuficiente,1
2,17786772,ESTADUAL - SE,Rede Estadual,Interior,20908,SANTO ANASTACIO,560,PRESIDENTE BERNARDES,32839,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,17827165,ESTADUAL - SE,Rede Estadual,Região Metropolitana da Baixada Santista,20103,SAO VICENTE,369,ITANHAEM,12002,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,17562515,ESTADUAL - SE,Rede Estadual,Região Metropolitana de Ribeirão Preto,20413,SAO JOAO DA BOA VISTA,453,MOCOCA,19012,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1


*   Total de colunas deste Dataset

In [ ]:
microdadosSaresp.columns.values

array(['CD_ALUNO', 'NOMEDEP', 'NomeDepBol', 'RegiaoMetropolitana',
       'CDREDE', 'DE', 'CODMUN', 'MUN', 'CODESC', 'TIPOCLASSE',
       'SERIE_ANO', 'TURMA', 'CLASSE', 'TP_SEXO', 'DT_NASCIMENTO',
       'PERIODO', 'NEC_ESP_1', 'NEC_ESP_2', 'NEC_ESP_3', 'NEC_ESP_4',
       'NEC_ESP_5', 'Tip_PROVA', 'Tem_Nec', 'cad_prova_lp',
       'cad_prova_mat', 'cad_prova_cie', 'particip_lp', 'particip_mat',
       'particip_cie', 'TOTAL_PONTO_LP', 'TOTAL_PONTO_MAT',
       'TOTAL_PONTO_CIE', 'porc_ACERT_lp', 'porc_ACERT_MAT',
       'porc_ACERT_CIE', 'profic_lp', 'profic_mat', 'profic_cie',
       'nivel_profic_lp', 'nivel_profic_mat', 'nivel_profic_cie',
       'classific_lp', 'classific_mat', 'classific_cie', 'validade'],
      dtype=object)



*   Colunas que terão ultilidade ao longo do trabalho

In [ ]:
colunasSelecionadas = ['CD_ALUNO', 'NOMEDEP', 'NomeDepBol', 'RegiaoMetropolitana',
       'CDREDE', 'DE', 'CODMUN', 'MUN', 'CODESC', 'TIPOCLASSE',
       'SERIE_ANO', 'TURMA', 'CLASSE', 'TP_SEXO', 'DT_NASCIMENTO']
microdadosSarespDesejados = microdadosSaresp.filter(items = colunasSelecionadas)
microdadosSarespDesejados

,CD_ALUNO,NOMEDEP,NomeDepBol,RegiaoMetropolitana,CDREDE,DE,CODMUN,MUN,CODESC,TIPOCLASSE,SERIE_ANO,TURMA,CLASSE,TP_SEXO,DT_NASCIMENTO
0,17405108,ESTADUAL - SE,Rede Estadual,Região Metropolitana de Sorocaba,20306,ITU,219,BOITUVA,16697,26,EM-3ª série,H,250283918,M,8/27/2001
1,17703159,ESTADUAL - SE,Rede Estadual,Região Metropolitana da Baixada Santista,20102,SANTOS,283,CUBATAO,11685,26,EM-3ª série,G,250456233,F,12/24/2001
2,17786772,ESTADUAL - SE,Rede Estadual,Interior,20908,SANTO ANASTACIO,560,PRESIDENTE BERNARDES,32839,0,EM-3ª série,E,254666837,M,2/1/2002
3,17827165,ESTADUAL - SE,Rede Estadual,Região Metropolitana da Baixada Santista,20103,SAO VICENTE,369,ITANHAEM,12002,0,EM-3ª série,F,250501285,F,9/20/2001
4,17562515,ESTADUAL - SE,Rede Estadual,Região Metropolitana de Ribeirão Preto,20413,SAO JOAO DA BOA VISTA,453,MOCOCA,19012,0,EM-3ª série,A,250893559,M,5/5/2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457910,37920548,ESTADUAL - SE,Rede Estadual,Região Metropolitana de São Paulo,10101,NORTE 1,100,SAO PAULO,46218,0,5º Ano EF,A,250356839,F,3/9/2010
457911,37924226,ESTADUAL - SE,Rede Estadual,Região Metropolitana de Sorocaba,20308,SOROCABA,669,SOROCABA,919925,0,9º Ano EF,E,252491410,F,9/2/2006
457912,37929270,ESTADUAL - SE,Rede Estadual,Região Metropolitana de São Paulo,10104,NORTE 2,100,SAO PAULO,371,0,9º Ano EF,A,250791001,F,11/3/2006
457913,37936951,ESTADUAL - SE,Rede Estadual,Interior,20407,JUNDIAI,407,JUNDIAI,36006,0,9º Ano EF,A,251236360,M,6/30/2006
457914,37941616,ESTADUAL - SE,Rede Estadual,Interior,21006,TUPA,586,RINOPOLIS,31690,0,5º Ano EF,C,250256088,F,8/22/2011



*   Total de participantes de cada municipio

In [ ]:
colunaMun = microdadosSarespDesejados['MUN']
#numero de participantes por municnipio
colunaMun.value_counts().sort_index()

ADAMANTINA               468
ADOLFO                    46
AGUAI                    528
AGUAS DA PRATA           101
AGUAS DE LINDOIA         241
                        ...
VIRADOURO                189
VISTA ALEGRE DO ALTO     184
VOTORANTIM              1962
VOTUPORANGA             1187
ZACARIAS                  57
Name: MUN, Length: 354, dtype: int64